<div id="storageCentralMainContainer">

    <!--Design Option #1-->
    <div class="formWrapperContainer" *ngIf="designOption1">
        <div class="d-flex" style="align-items: center; justify-content: center; margin-bottom: 30px;">
            <img src="./assets/images/server.png" class="logoImg mr-16" style="height: 80px;" />
            <h1>Storage Central</h1>
        </div>

        <form class="loginForm" [formGroup]="loginForm" class="input-min-spacing">
            <mat-form-field class="mb-10">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix style="color: grey;">email</mat-icon>
                <input matInput #loginUser name="loginName" id="loginName" formControlName="loginName" />
                <mat-error *ngIf="loginForm.controls['loginName'].errors?.['required']">User Name field is Mandatory.</mat-error>
            </mat-form-field>

            <mat-form-field class="mb-10">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix style="color: grey;">vpn_key</mat-icon>
                <input matInput name="password" [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="30">
                <mat-icon matSuffix (click)="hide = !hide" style="color: grey;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Password field is Mandatory.</mat-error>
                <mat-error  *ngIf="loginForm.controls['password'].errors?.['minlength'] || loginForm.controls['password'].errors?.['maxlength']">
                    Invalid Password!Please enter a correct password.
                </mat-error>
            </mat-form-field>

            <div class="remember-cover">
                <div>
                    <mat-checkbox type="checkbox" formControlName="rememberMe" name="rememberMe" class="w-90">Remember Me</mat-checkbox>
                    <mat-icon class="pointer-highlight" matTooltip="Our application will store your data till you next log out. It will be applicable on all other devices.">info</mat-icon>
                </div>
                <span class="fs-12">Save my login details for next time.</span>
                <!-- <a class="linkurl" (click)="registeredEmail.reset()">Forgot password ?</a> -->
            </div>

            <button mat-raised-button color="primary" type="submit" id="loginBtn" (click)="signIn()" class="w-100 mt-24">Sign In</button>
            <p class="separator">OR</p>
            <div style="text-align: center;">Dont have an account?
                <a style="color: #0F62FE; font-weight: 500; cursor: pointer;text-shadow: 2px 2px 7px #0F62FE;" (click)="showSignIn = true; signup();">Sign up</a>
            </div>
        </form>
    </div>

    <!--Design Option #2-->
    <div class="container" [class.right-panel-active]="!showSignIn" *ngIf="!designOption1">

        <div class="form-container sign-up-container p-20">
            <h1>Create Account</h1>
            <span>Use your email for registration</span>
            <form class="registerForm" [formGroup]="registerForm" class="input-min-spacing">
                <mat-form-field class="mb-10">
                    <mat-label>First Name</mat-label>
                    <input matInput name="firstName" id="firstName" formControlName="firstName" />
                    <mat-error *ngIf="registerForm.controls['firstName'].errors?.['required']">First Name field is Mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-10">
                    <mat-label>Last Name</mat-label>
                    <input matInput name="lastName" id="lastName" formControlName="lastName" />
                    <mat-error *ngIf="registerForm.controls['lastName'].errors?.['required']">Last Name field is Mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-10">
                    <mat-label>Email</mat-label>
                    <input matInput name="registerEmail" id="registerEmail" formControlName="registerEmail" />
                    <mat-error *ngIf="registerForm.controls['registerEmail'].errors?.['required']">Email field is Mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field class="mb-10">
                    <mat-label>Password</mat-label>
                    <input matInput name="password"  [type]="hide ? 'password' : 'text'" formControlName="registerPassword" maxlength="30">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="registerForm.controls['registerPassword'].errors?.['required']">Password field is Mandatory.</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" id="registerBtn" class="w-100" (click)="register()">Sign up</button>
            </form>
        </div>

        <div class="form-container sign-in-container p-20">
            <h1>Sign in</h1>
            <span>Use your account</span>
            <form class="loginForm" [formGroup]="loginForm" class="input-min-spacing">
                <mat-form-field class="mb-10">
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix style="color: grey;">email</mat-icon>
                    <input matInput #loginUser name="loginName" id="loginName" formControlName="loginName" />
                    <mat-error *ngIf="loginForm.controls['loginName'].errors?.['required']">User Name field is
                        Mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <mat-icon matPrefix style="color: grey;">vpn_key</mat-icon>
                    <input matInput name="password" [type]="hide ? 'password' : 'text'" formControlName="password"
                        maxlength="30">
                    <mat-icon matSuffix (click)="hide = !hide" style="color: grey;">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Password field is
                        Mandatory.</mat-error>
                    <mat-error
                        *ngIf="loginForm.controls['password'].errors?.['minlength'] || loginForm.controls['password'].errors?.['maxlength']">
                        Invalid
                        Password!Please enter a correct password.</mat-error>
                </mat-form-field>

                <div class="remember-cover">
                    <div>
                        <mat-checkbox type="checkbox" formControlName="rememberMe" name="rememberMe" class="w-90">Remember Me</mat-checkbox>
                        <mat-icon class="pointer-highlight" matTooltip="Our application will store your data till you next log out. It will be applicable on all other devices.">info</mat-icon>
                    </div>
                    <span class="fs-12">Save my login details for next time.</span>
                </div>
                <button mat-raised-button color="primary" type="submit" id="loginBtn" (click)="signIn()" class="w-100 mt-24">Sign In</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img src="./assets/images/server.png" style="height: 40px;" />
                    <h1 style="color: black;">Welcome Back!</h1>
                    <p style="color: black;">To keep connected with us please login with your personal info</p>
                    <button mat-raised-button id="signIn" (click)="signIn()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <img src="./assets/images/server.png" style="height: 40px;" />
                    <h1>Hi there!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button mat-raised-button id="signUp" (click)="register()">Sign Up</button>
                </div>
            </div>
        </div>

    </div>

    <h1 class="mainHeader">"Welcome to <span>Storage Central</span>, your centralized solution for secure and efficient file storage and management — where convenience meets efficiency!"</h1>

    <mat-sidenav-container class="registerFormSlider">
        <mat-sidenav #registerFormSideNav mode="side" position="start" class="registerFormSideNav">

            <div *ngIf="designOption1" class="p-20">
                <div class="d-flex" style="justify-content: space-between;">
                    <h1>Signup</h1>
                    <mat-icon (click)="goBackToLogin()" class="pointer-highlight">close</mat-icon>
                </div>

                <form class="registerForm" [formGroup]="registerForm" class="input-min-spacing">
                    <mat-form-field class="mb-10">
                        <mat-label>First Name</mat-label>
                        <input matInput name="firstName" id="firstName" formControlName="firstName" />
                        <mat-error *ngIf="registerForm.controls['firstName'].errors?.['required']">First Name field is Mandatory.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-10">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastName" id="lastName" formControlName="lastName" />
                        <mat-error *ngIf="registerForm.controls['lastName'].errors?.['required']">Last Name field is Mandatory.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-10">
                        <mat-label>Email</mat-label>
                        <input matInput name="registerEmail" id="registerEmail" formControlName="registerEmail" />
                        <mat-error *ngIf="registerForm.controls['registerEmail'].errors?.['required']">Email field is Mandatory.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-10">
                        <mat-label>Password</mat-label>
                        <input matInput name="password"  [type]="hide ? 'password' : 'text'" formControlName="registerPassword" maxlength="30">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="registerForm.controls['registerPassword'].errors?.['required']">Password field is Mandatory.</mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" id="registerBtn" class="w-100" (click)="register()">Register</button>

                    <div class="goBackToLoginWrapper d-flex align-center pointer-highlight" (click)="goBackToLogin()" style="position: absolute; bottom: 20px; left: 20px;">
                        <mat-icon class="mr-10">keyboard_backspace</mat-icon>
                        <span>Go back to login</span>
                    </div>
                </form>
            </div>

        </mat-sidenav>
    </mat-sidenav-container>
</div>